<div class="card col-10 bg-dark">
  <div class="row g-0">
    <div class="col-4" style="max-width: 10rem">
      <img
        src="https://movies.yahoo.com.tw/x/r/w420/i/o/production/movies/June2022/TJBbaE7dK7Phxm2p36ts-1080x1542.jpg"
        class="img-fluid rounded-start mx-1 my-2"
        alt="..."
      />
    </div>
    <div class="col-10">
      <div class="card-body d-flex flex-column h-100">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <div class="card-text mt-auto text-end">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
