<div class="card card-block mx-2 mb-2 bg-dark" style="min-width: 14rem">
  <a href="#">
    <img
      src="https://movies.yahoo.com.tw/x/r/w420/i/o/production/movies/June2022/TJBbaE7dK7Phxm2p36ts-1080x1542.jpg"
      class="card-img-top"
      alt="..."
    />
  </a>
  <div class="card-body" style="max-height: 12rem">
    <h5 class="movie-card-title">角落小夥伴電影版：藍色月夜的魔法之子</h5>
    <p class="movie-card-text">
      Sumikkogurashi: The Little Wizard in the Blue Moonlight
    </p>
    <span class="movie-card-date"> 上映日期: 2022-08-05 </span>
  </div>
  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
