<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/header')%>
    <title>TeamUp - Please check your email </title>
  </head>

  <body>
    <div class="alert my-3 py-1 alert-danger" id="message">
      Please check your email to verify account.
    </div>

    <!-- <script src="js/login.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

</html>
