<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/header')%>
    <title>TeamUp - Verify email page</title>
  </head>

  <body>
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
          <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
            <div class="text-center my-5">
              <a href="/auth/login">
                <img
                  src="https://team-up-bucket.s3.ap-southeast-1.amazonaws.com/LOGO.svg"
                  alt="logo"
                />
              </a>
              <div class="alert my-3 py-1" id="message"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script type="module" src="/js/auth/verify_email.js"></script>
  </body>
</html>
