<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/header')%>
    <title>TeamUp - Verify email page</title>
  </head>

  <body>
    <div class="alert my-3 py-1" id="message"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script type="module" src="/js/auth/verify_email.js"></script>
  </body>
</html>
