<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/header')%>
    <link rel="stylesheet" href="/css/chatroom.css" />
    <title>Activity Information - TeamUp</title>
  </head>
  <body>
    <%- include('../../partials/navbar')%>

    <div class="container h-100">
      <div class="row justify-content-center align-items-center m-lg-5">
        <div class="card col-10 bg-dark h-150px">
          <div class="row g-0">
            <div class="col-12 col-lg-3" id="activity-img"></div>
            <div class="col-12 col-lg-8 mx-3">
              <div class="card-body" id="activity-info">
                <div class="float-end" id="activity-control">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-12">
                <p class="card-text fs-6" id="activity-description"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-leave">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark" >
            <div class="modal-body d-flex justify-content-center fs-2">確定退出活動嗎?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-light btn-time-width" data-bs-dismiss="modal">Cancel</button>
              <button id="button-leave-submit" type="submit" class="btn btn-secondary btn-time-width" data-bs-dismiss="modal">Leave</button>
            </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-delete">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark" >
            <div class="modal-body d-flex justify-content-center fs-2">確定刪除此活動嗎?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-light btn-time-width" data-bs-dismiss="modal">Cancel</button>
              <button id="button-delete-submit" type="submit" class="btn btn-secondary btn-time-width" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
      </div>
    </div>

    <div class="modal modal-md fade" id="modal-edit" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-dark" id="modal-content">
          <div class="modal-header mx-2">
            <h5 class="modal-title" id="modalLabel">Edit activity</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" id="activity-form" class="needs-validation">
            <div class="modal-body mx-3" id="modal-body">
              <div class="mb-3">
                <label class="form-label" for="form-title">Title</label>
                <input type="text" id="form-title" name="form-title" value="新活動" class="form-control" maxlength="20"/>
              </div>
              <div class="mb-3">
                <label class="form-label" for="form-members">Members</label>
                <input type="range" id="form-maxMembers" name="form-maxMembers" value="2" min="2" max="8" oninput="this.nextElementSibling.value = this.value" />
                <output>2</output>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <label class="form-label" for="form-date">Date</label>
                  <input type="text" id="form-date" name="form-date" class="form-control" disabled readonly />
                </div>
                <div class="col">
                  <label class="form-label" for="form-time">Time</label>
                  <input type="text" id="form-time" name="form-time" class="form-control" disabled readonly />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-4">
                  <label class="form-label" for="form-city">City</label>
                  <input type="text" id="form-city" class="form-control" disabled readonly />
                </div>
                <div class="col-8">
                  <label class="form-label" for="form-theater">Theater</label>
                  <input type="text" id="form-theater" name="form-theater" class="form-control" disabled readonly />
                </div>
              </div>

              <div class="d-flex justify-content-center mb-2">
                <img
                  id="preview-img"
                  src="https://movies.yahoo.com.tw/x/r/w420/i/o/production/movies/June2022/TJBbaE7dK7Phxm2p36ts-1080x1542.jpg"
                  width="180"
                  height="256" />
              </div>
              <div class="row">
                <div class="mb-3">
                  <input type="file" id="upload-img"class="rounded-3"
                  targetID="preview-img" accept="image/gif, image/jpeg,
                  image/png"/ >
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="form-description">Description</label><br />
                <textarea
                  id="form-description"
                  form="activity-form"
                  name="form-description"
                  class="form-control"
                  rows="5"
                  cols="50"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
              <button type="submit" id="submit" class="btn btn-secondary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal" id="modal-msg">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark" id="modal-content">
          <div
            class="modal-body d-flex justify-content-center"
            id="modal-msg-body"
          ></div>
        </div>
      </div>
    </div>

    <div class="container h-50">
        <div class="row justify-content-center align-items-center m-lg-5">
          <div class="card col-10 bg-dark">
            <div class="row g-0">
                <div class="col-12 col-lg-5 col-xl-3 border-righ member-list" id="member-list">
                  <div class="py-2 px-4 d-none d-lg-block">
                      <div class="d-flex align-items-center py-1">
                        <div class="flex-grow-1 pl-3">
                          <h3><strong class="mb-2">Members</strong></h3>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="col-12 col-lg-7 col-xl-9">
                <div class="py-2 px-4 border-left  d-none d-lg-block">
                  <div class="d-flex align-items-center py-1">
                    <div class="flex-grow-1 pl-3">
                      <h3><strong id="chatroom-activity-title" class="mb-2">Activity Title</strong></h3>
                      <div id="chatroom-movie-title" class="small border-bottom">Movie Title</div>
                    </div>
                  </div>
                </div>
                <!-- Message Box -->
                <div class="position-relative">
                  <div id="chat-room" class="chat-messages p-4 border-left">
                    <!-- Message Content -->
                  </div>
                
                  <form id="chat-form">
                      <div class="py-3 px-4 border-top">
                          <div class="input-group">
                              <input id="message" type="text" class="form-control" placeholder="Type your message" />
                              <button class="btn btn-secondary">Send</button>
                          </div>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <%- include('../../partials/navbar_function')%>
    <script type="module" src="/js/activity/activity_joined.js"></script>
    <script type="module" src="/js/activity/chatroom.js"></script>
  </body>
</html>