<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/header')%>
    <title>Activity</title>
  </head>
  <body>
    <%- include('../../partials/navbar')%>

    <div class="container h-100">
      <div
        class="row justify-content-center align-items-center m-lg-5"
        id="activity"
      ></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script type="module" src="/js/activity/activity.js"></script>
  </body>
</html>
